use Mix.Config

# Copy or rename this file to config/test.secret.exs
# Add your own testing credentials from https://www.twilio.com/console/account/settings

config :twilio_magic_values, test_account_sid: "AC_THIS_IS_AN_EXAMPLE"
config :twilio_magic_values, test_auth_token: "twilio_provided_jibberish"
